@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body, html {
    background-color: var(--background);
    color: var(--text);
    font-family: Lexend;
    margin: 15px;
    

    --text: #e7eef4;
    --background: #060b0f;
    --primary: #8bafce;
    --secondary: #21527d;
    --accent: #4996da;
}

.container {
    max-width: 600px;
    margin: auto;
}

/*------------------------------------------------------------------------------------------------------*/

a {
    color: var(--text);
    transition: all .2s ease;
}

a:hover {
    color: var(--primary);
    transition: all .2s ease;
}

hr {
    border: 1px solid;
    border-radius: 100px;
}

button {
    transition: all .2s ease;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all .2s ease;
    color: #3c3f49;
}

/*------------------------------------------------------------------------------------------------------*/

.header {
    background: var(--primary);
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.header_buttons {
    float: right;
    padding: 5px;
    margin-right: 10px;
    border-radius: 100px;

    font-size: 18px;
    font-weight: 500;
}

.header_logo {
    position: absolute;
    padding: 5px;
    margin-left: 10px;

    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.header a:hover {
    color: var(--background);
    transition: all .2s ease-in;
}

/*------------------------------------------------------------------------------------------------------*/

.video {
    margin-top: 15px;
    padding: 25px;
    background: var(--secondary);
    border-radius: 30px;

    overflow: hidden;
}

.video_frame {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.1%;
    margin-bottom: 15px;
}

.video_frame iframe {
    position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 20px;
}

.video_text {
    padding-top: 5px;
    margin: 0px;
    position: absolute;
}

.video_text h2 {
    margin: 0px;
    margin-bottom: 5px;
}

.video_text p {
    margin: 0px;
}

.video button {
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    padding: 19px 39px;
    margin-top: 5px;

    text-align: center;
    text-decoration: none;

    font-size: 16px;
    font-family: Lexend;
    font-weight: 500;

    float: right;
}

/*------------------------------------------------------------------------------------------------------*/

.videos_button {
    background-color: var(--secondary);
    margin-top: 15px;
    padding: 20px;
    border-radius: 30px;

    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

.fotos_button {
    background-color: var(--accent);
    margin-top: 15px;
    padding: 20px;
    border-radius: 30px;

    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

/*------------------------------------------------------------------------------------------------------*/

.player {
    margin-top: 15px;
    padding: 0px;
    background: var(--secondary);
    border-radius: 30px;

    overflow: hidden;
}

.player_text {
    padding-top: 17px;
    margin: 0px;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.player_text h2 {
    margin: 0px;
    margin-bottom: 5px;
}

.player_text p {
    margin: 0px;
}

.player_desc {
    margin-top: 15px;
    padding: 25px;
    background: var(--secondary);
    border-radius: 30px;
    
    overflow: hidden;
}

.player_desc h2 {
    margin: 0px;
    margin-bottom: 10px;
}

.player_desc p {
    margin: 0px;
    margin-bottom: 5px;
}

/*------------------------------------------------------------------------------------------------------*/

.photo {
    margin-top: 15px;
    padding: 25px;
    background: var(--secondary);
    border-radius: 30px;

    overflow: hidden;
}

.photo_text {
    padding-top: 5px;
    margin: 0px;
    position: absolute;
}

.photo_text h2 {
    margin: 0px;
    margin-bottom: 5px;
}

.photo_text p {
    margin: 0px;
}

.photo button {
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    padding: 19px 39px;
    margin-top: 5px;

    text-align: center;
    text-decoration: none;

    font-size: 16px;
    font-family: Lexend;
    font-weight: 500;

    float: right;
}