<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style.css"> 

    <title>3vds Viewer | Video</title>
</head>
<body>
    <div class="header">
        <a href="/" class="header_logo">3vds Viewer</a>

        <a href="videos/" class="header_buttons">Videos</a>
        <a href="fotos/" class="header_buttons">Fotos</a>
    </div>

    <br><br>
    <hr>

    <div class="footer">
        <p>3vds Viewer 2.0 Beta</p>
    </div>
</body>
</html>